services:
  proxy:
    image: nginx:alpine
    container_name: proxy
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    restart: 'unless-stopped'
    networks:
      - backend
  server:
    build:
      context: ./
      target: production-build-stage
      dockerfile: Dockerfile
    container_name: server
    ports:
      - '3000:3000'
    environment:
      MONGO_URI: mongodb://mongo:27017/ # instead of mongodb://0.0.0.0:5000/
    volumes:
      - ./:/app
      - /app/node_modules
    restart: 'unless-stopped'
    networks:
      - backend
    depends_on:
      - postgres
  mongo:
    image: mongodb/mongodb-community-server
    container_name: mongo
    ports:
      - '27017:27017'
    networks:
      - backend
    volumes:
      - data:/data/db
  postgres:
    image: postgres:latest
    container_name: local-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: francoisrentals
    ports:
      - "5432:5432"
    volumes:
      - data:/var/lib/postgresql/data
networks:
  backend:
    driver: bridge

volumes:
  data:
    driver: local
